# HOST_URL, SPOTIFY_CLIENT_ID and SPOTIFY_CLIENT_SECRET Are Required - Do Not Include Trailing Slash For The HOST_URL:
# NEXT_PUBLIC_HOST_URL=
# SPOTIFY_CLIENT_ID= 
# SPOTIFY_CLIENT_SECRET= 

# User Agent Is Optional But Recommended:
# NEXT_PUBLIC_USER_AGENT=

# Example: 
NEXT_PUBLIC_HOST_URL=http://localhost:3000
SPOTIFY_CLIENT_ID= 
SPOTIFY_CLIENT_SECRET= 
NEXT_PUBLIC_USER_AGENT=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36